<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="userBean" name="user" class="erion.spring.User">
		<property name="firstName" value="Erion"/>
		<property name="lastName" value="Ademi"/>
		<property name="email" value="erion.ademi@email.com"/>
	</bean>
	
	<bean id="userPrototype" class="erion.spring.User" scope="prototype">
		<property name="firstName" value="Erion"/>
		<property name="lastName" value="Ademi"/>
		<property name="email" value="erion.ademi@email.com"/>
	</bean>
	
	
	<bean id="adminRole" class="erion.spring.dependencyinjection.Role">
		<property name="roleName" value="ADMIN_ROLE"/>
	</bean>
	<bean id="adminUser" class="erion.spring.dependencyinjection.User">
		<constructor-arg name="role" ref="adminRole"/>
	</bean>
	<bean id="adminUser2" class="erion.spring.dependencyinjection.User">
		<constructor-arg index="0" ref="adminRole" /> 
	</bean>
	<bean id="adminUser3" class="erion.spring.dependencyinjection.User">
		<constructor-arg type="Role" ref="adminRole" /> 
	</bean>
	
	<bean id="adminUser4" class="erion.spring.dependencyinjection.User">
		<property name="role" ref="adminRole" /> 
	</bean>
	<bean id="adminUser5" class="erion.spring.dependencyinjection.User" autowire="byType" lazy-init="true"/>
	
</beans>  